body {
    margin: 0;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background-color: rgb(48,125,255)!important;
}

#clicks {
    cursor: pointer;
}
@media (max-width : 800px) {
    #fp-nav ul li a span, .fp-slidesNav ul li a span{
        display: none;
    }
    #rightAbt {
        width: 100vw;
        height: 10vh;
        max-height: 80px;
        padding : 0 !important;
    }

    #leftAbt {
        width : 100vw;
        display: block;
        height : 90vh;
        padding : 0 !important;
    }
    #logoAbt {
        height: 20vw;
        opacity: 0.3;
        width : auto;
        margin-top : 2vh;
    }
    #desc {
        color: white;
        position: absolute;
        background-color: rgba(48,125,255,1);
        height: auto;
        width: 50vw;
        text-align: center;
        font-size: 1.2em;
        padding: 5px 5px 5px 5px;
        margin-left: 25vw;
        margin-right: 25vw;
        margin-top : 8vh;
        display: flow ;
    }
    p {
        margin-top: 8vh;
        margin-left : 10vw;
        margin-right : 10vw;
        font-size: 1.0em;
    }
    .hideen {
        display : none;
    }

    #leftTr {
        width: 100vw;
        max-height: 80px;
        height: 10vh;
        padding: 0 !important;
    }

    #rightTr {
        width: 100vw;
        height: auto;
        display: block;
        padding: 0 !important;
    }

    #logoTr {
        height: 20vw;
        opacity: 0.3;
        width: auto;
        margin-top: 2vh;
    }

    .cardTop {
        height: 33vw;
        width: 33vw;
        min-width: 120px;
        min-height: 120px;
        max-height: 180px;
        max-width: 180px;
        margin: 3vh 3.8vw 0 3.8vw;
        border-radius: 15px;
        background: rgb(81, 213, 191);
        display: inline-block;
    }

    .cardBottom {
        height: 33vw;
        width: 33vw;
        min-width: 120px;
        min-height: 120px;
        max-height: 180px;
        max-width: 180px;
        margin: 3vh 3.8vw 0 3.8vw;
        border-radius: 15px;
        background: rgb(81, 213, 191);
        display: inline-block;
    }
    .cardLast {
        margin-bottom: 6vh;
    }
    .X {
        margin-top: 10vh;
    }


    #about {
        color: white;
        padding: 5px;
        position: absolute;
        background-color: rgba(48,125,255,1);
        height: auto;
        width: 35vw;
        text-align: center;
        font-size: 1.2em;
        margin-top: 7vh;
        margin-left: 32.5vw;
        margin-right : 32.5vw;
    }

    #first{
        display : none;
    }
    #main {
        width : 100vw;
    }
    #second {
        display : none;
    }
    #top-img {
        width: 80vw;
        margin: auto auto;
    }
    #img-mid {
        width : 40vh ;

    }
    #rightPs {
        width : 100vw;
        height: 10vh;
        max-height: 80px;
        padding: 0px !important;
    }
    #leftPs {
        width : 100vw;
        display: block;
        height: 90vh;
        padding: 0 !important;
    }
    #logoPs {
        height: 20vw;
        opacity: 0.3;
        width : auto;
        float: right;
        margin-top : 2vh;
    }
    #details {
        color: white;
        position: absolute;
        background-color: rgba(48,125,255,1);
        height: auto;
        margin-left: 25vw;
        margin-right: 25vw;
        width: 50vw;
        text-align: center;
        font-size: 1.2em;
        padding: 5px 5px 8px 5px;
        display: flow;
        margin-top: 7.5vh;
    }
    #rightDet {
        width : 100vw;
        height: 10vh;
        max-height : 80px;
        padding: 0px !important;
    }
    #leftDet {
        width : 100vw;
        height : 90vh;
        display: block;
        font-size: 1em;
        padding-right: 8vw;


    }
    #logoDet {
        height: 20vw;
        opacity: 0.3;
        width : auto;
        float: right;
        margin-top : 2vh;
    }
    #event {
        color: white;
        margin-left : 35vw;
        margin-right : 35vw;
        position: absolute;

        background-color: rgba(48,125,255,1);
        height: auto;
        width: 30vw;
        padding: 5px 5px 5px 5px;
        text-align: center;
        font-size: 1.2em;
        display: flow;
        margin-top: 7.5vh;
    }

    #cont {
        margin-top : 14vh;
    }

}
@media (min-width : 801px) {
    #logoAbt {
        position: absolute;
        height: 28vw;
        max-height: 180px;
        width : auto;
        opacity: 0.4;
        margin-left: -6vw;
        margin-top : 65vh;
        display: flex;
    }

    #desc {
        color: white;
        margin-left: 10vw;
        position: absolute;
        background-color: rgba(48,125,255,1);
        height: auto;
        width: 20vw;
        padding: 5px 0 5px 0;
        text-align: center;
        font-size: 2.2em;
        margin-top: 10vh;
        display: inherit;
    }
    #rightAbt {
        height: 100vh;
        padding : 0 !important;
    }
    #leftAbt {
        height : 100vh ;
        padding: 0 !important;
    }
    p {
        margin-top: 25vh;
        margin-left : 8vw;
        margin-right : 10vw;
        font-size: 1.6em;
        line-height : 1.5;
    }
    #logoTr {
        position: absolute;
        height: 28vh;
        max-height: 180px;
        width : auto;
        opacity: 0.4;
        margin-left : -6vw;
        margin-top : 65vh;
        display: flex;
    }
    .cardTop {
        height: 14vw;
        width : 14vw;
        margin : 22vh 2vw 2vh 1vw;
        min-width: 120px;
        min-height : 120px;
        max-width: 210px;
        max-height : 210px;
        border-radius: 15px;
        background: rgb(81,213,191);
        display: inline-block;
    }
    .cardBottom {
        height: 14vw;
        width : 14vw;
        margin : 10vh 2vw 2vh 1vw;
        min-width: 120px;
        min-height : 120px;
        max-width: 210px;
        max-height : 210px;
        border-radius: 15px;
        background: rgb(81,213,191);
        display: inline-block;
    }
    #about {
        color: white;
        margin-left: 10vw;
        position: absolute;
        background-color: rgba(48,125,255,1);
        height: auto;
        width: 15vw;
        text-align: center;
        font-size: 2.2em;
        margin-top: 10vh;
        display: inherit;
    }
    #rightTr {
        height: 100vh;
        padding-left: 8vw;
    }
    #leftTr {
        height: 90vh;
        padding: 0 !important;
    }

    #first {
        display: inline-block;
        width : 18vw;
    }
    #main {
        width : 60vw;
    }
    #second {
        display: inline-block;
        width : 18vw;
    }
    #top-img {
        width: 30vw;
    }
    #img-mid {
        height: auto;
        width : 45vw;
    }

    #leftPs {
        height: 100vh;
        width: 82vw;
    }
    #rightPs {
        height: 100vh;
        width : 18vw;
    }

    #logoPs {
        position: absolute;
        height: 28vw;
        max-height: 180px;
        width : auto;
        opacity: 0.4;
        margin-left: 8vw;
        margin-top : 65vh;
        display: flex;
    }
    #details {
        color: white;
        margin-left: 68vw;
        position: absolute;
        padding: 2px 2px 5px 2px;
        background-color: rgba(48,125,255,1);
        height: auto;
        width: 25vw;
        text-align: center;
        font-size: 2.2em;
        margin-top: 10vh;
        display: inherit;
    }
    #leftDet {
        font-size: 1em;
        width : 82vw;
        height: 100vh;
    }
    #rightDet {
        height: 100vh;
        width: 18vw;
    }
    #logoDet {
        position: absolute;
        height: 28vw;
        max-height: 180px;
        width: auto;
        opacity: 0.4;
        margin-left: 8vw;
        margin-top: 65vh;
        display: flex;
    }
    #event {
        color: white;
        margin-left: 78vw;
        position: absolute;
        background-color: rgba(48,125,255,1);
        height: auto;
        width: 12vw;
        text-align: center;
        font-size: 2.2em;
        margin-top: 10vh;
        display: inherit;
    }

    #cont {
        margin-top: 20vh;
    }

}